node_modules/
dist/
generated/
.env
*.log
node-compile-cache/

# typescript
*.tsbuildinfo
node-compile-cache/

# turbo
.turbo/

# claude
.claude/settings.local.json

# serena mcp
.serena/

# repomix
*.xml

# vitest
coverage/

# react-router
.react-router/
build/

*storybook.log
storybook-static
