node_modules/
dist/
generated/
.env
*.log
node-compile-cache/

# typescript
*.tsbuildinfo

# turbo
.turbo/

# serena mcp
.serena/

# repomix
*.xml

# vitest
coverage/

# react-router
.react-router/
build/

# storybook
*storybook.log
storybook-static

# subscope
cache/
