node_modules/
dist/
generated/
.env

# turbo
.turbo/

# next
.next/
next-env.d.ts

# apps/dev-atproto
apps/dev-atproto/atproto/

# apps/common
apps/common/lexicons/app/bsky/
apps/common/lexicons/com/atproto/
