volumes:
  db_data:
  tap_data:

services:
  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
  redis:
    image: redis:7
    ports:
      - 6379:6379
  tap:
    image: ghcr.io/bluesky-social/indigo/tap:0.1
    environment:
      - TAP_DATABASE_URL=sqlite:///data/tap.db
    volumes:
      - tap_data:/data
    ports:
      - 2480:2480
