global:
  scrape_interval: 5s

scrape_configs:
  - job_name: appview
    static_configs:
      - targets:
          - appview.railway.internal:8080

  - job_name: ingester
    static_configs:
      - targets:
          - ingester.railway.internal:8080

  - job_name: worker
    dns_sd_configs:
      - names:
          - worker.railway.internal
        type: AAAA
        port: 8080

  - job_name: blob-proxy
    static_configs:
      - targets:
          - blob-proxy.railway.internal:8080

  - job_name: tap
    static_configs:
      - targets:
          - tap.railway.internal:9090
